html {
    scroll-behavior: smooth;
   }


/* referred to source to learn how to use flexbox on navbar: https://freshman.tech/flexbox-navbar/ */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
   
.nav-links {
    display: flex;
}


header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2c393f;
    color: #ffffff;
}

header h1 {
    width: 350px;
    color: #2c393f;
    text-align: right; /* Gained from https://www.w3schools.com/cssref/pr_text_text-align.php */
    background-color: #20c0fa;
    margin-left: 0px;
    display: inline-block;
    font-size: 48px;
}

header a {
    color: #20c0fa;
    text-decoration: underline;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

header li {
    display: inline-block;
    margin-left: 25px;
}

body {
    background-color: rgb(255, 246, 212);
}

.about-me {
    /* Referred to source: https://ishadeed.com/article/website-headers-flexbox/ */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-me h2 {
    border-right: 5px solid #2c393f;
    height: 80px;
    color: #2c393f;
    font-size: 30px;
    margin-left: 150px;
    padding-right: 20px;
}

.about-me p {
    padding-left: 20px;
    margin-right: 150px;
}

.work {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
}

.work h2 {
    border-right: 5px solid #2c393f;
    height: 750px;
    color: #2c393f;
    font-size: 30px;
    margin-left: 150px;
    padding-right: 20px;
}

.background img {
    min-width: 100%;
    height: 250px;
}

/* Referred to be able to create wrapper and scale images: 
https://stackoverflow.com/questions/37307470/how-do-you-scale-two-div-elements-together-inside-another-div-with-min-height */
.work .wrapper {
    min-height: 70%;
    width: 60%;
}

.work img {
/* Learned from source: 
https://sentry.io/answers/how-do-i-auto-resize-an-image-to-fit-a-div-container/#:~:text=To%20fix%20this%2C%20we%20can,contain%E2%80%9D%20and%20%E2%80%9Ccover%E2%80%9D.
*/
    object-fit: contain;
    max-height: 100%;
    width: 100%;
    -webkit-filter: brightness(100%);
}

/* Referred to source: https://stackoverflow.com/questions/17481660/darken-background-image-on-hover */
.work img:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

/* Learned from https://stackoverflow.com/questions/64734408/why-does-image-size-scale-down-when-wrapped-in-an-anchor-tag */
.main-image > a {
    display: contents;
}

.sub-images > a {
    display: contents;
}

.work .main-image {
    display: flex;
    overflow: hidden;
/*  border: 5px solid #20c0fa; */
    margin-right: 150px;
    margin-left: 20px;
    width: 87%;
}

/* Referred to https://www.w3schools.com/howto/howto_css_images_side_by_side.asp */
.work .sub-images {
    display: flex;
    justify-content: center;
/*  border: 5px solid #20c0fa; */
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    min-height: 100%;
    max-width: 31%;
}



figcaption {
    background-color: rgb(198, 42, 190);
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
  }

.work .row::after {
    content: "";
    clear: both;
    display: table;
  }

.footer {
    display: flex;
    align-items: center;
}

.footer-links {
    display: flex;
    justify-content: center;
}

footer h2 {
    border-right: 5px solid #2c393f;
    height: 80px;
    color: #2c393f;
    font-size: 30px;
    margin-left: 150px;
    padding-right: 20px;
    display: inline-block;
}

footer a {
    color: #2c393f;
}

footer div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

footer li {
    display: inline-block;
    margin-right: 30px;
}